<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>synth.club — Failed to register</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    <div class="oContainer">
        <div class="iContainer">
            <p>Ouch, there was an error while registering...</p>
            <p>The error is: {{.errorMsg}}</p>

            <hr>

            <p>Try again, and if the issue keeps persisting, you can <a href="https://bsky.app/profile/coldunwanted.net">contact me</a> about it.</p>
            <p>Sorry for the inconvenience.</p>
        </div>
    </div>
</body>
</html>