<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>synth.club — Registered successfully!</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    <div class="oContainer">
        <div class="iContainer">
            <p>🎉 Congratulations, <span class="underlinedText">{{.handle}}</span>!</p>
            <p>You have successfully registered!</p>

            <hr>

            <p>It may take a few minutes for Bluesky and/or Discord to validate your new handle.</p>
            <p>Thanks for your patience!</p>
        </div>
    </div>
</body>
</html>